<div class="container">
    <h2 class="px-3">Incomplete Actions</h2>

    <div class="mt-5 mx-5">
        <div class="table-responsive pt-5">

            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Bulk Action</option>
                        <option value="1">One</option>
                    </select>

                    <div class="d-flex align-items-center px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        <input type="text" class="form-control mx-2" id="exampleFormControlInput1">
                    </div>
                </div>
                
    
                <select class="form-select w-25" aria-label="Default select example">
                    <option selected>Filter By</option>
                    <option value="1">One</option>
                </select>
            </div>
    
            <table class="table mt-4">
                <thead>
                  <tr>
                    <th scope="col">
                        <input type="checkbox" name="" id="">
                    </th>
                    <th scope="col">
                        
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">IPPIS No</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Tenor</th>
                    <th scope="col">Date</th>
                    <th scope="col">Mode</th>
                    <th scope="col">MDA Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>

                  <tr>
                    <th scope="row">
                        <input type="checkbox" name="" id="">
                    </th>
                    <td>
                        <button class="btn btn-orange text-white">View</button>
                    </td>
                    <td>Celestine Ojiaku</td>
                    <td>okenufrancisca@gmail.com</td>
                    <td>08066075282</td>
                    <td>490535</td>
                    <td>{{ '300000' | currency:'NGN':'symbol-narrow':'4.2-2' }}</td>
                    <td>Unfinalized</td>
                    <td>21/04/21</td>
                    <td>Web</td>
                    <td>National Board for Arabic and Islamic Studies</td>
                    
                  </tr>
    
                </tbody>
              </table>
    
    
              <nav class="d-flex justify-content-between align-items-center">
                <p class="d-flex align-items-center m-0">
                    Displaying
                    <input type="text" class="form-control small-input mx-1 m-0 p-0" value="8">
                    out of 1500 results
                </p>
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>


</div>